body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
  width: 18rem;
}

.task-card:hover {
  cursor: grab;
}

.overdue {
  background-color: red;
}

.near-deadline {
  background-color: yellow;
}